.flip-card{
    perspective: 1000px;
}
.flipcard-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}
.flip-card:hover .flipcard-inner {
    transform: rotateY(180deg);
  }
.flipcard-front, .flipcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

.flipcard-back {
    
    transform: rotateY(180deg);
  }